<div class="app-bubbles-editor-scroll-b js-app-bubbles-editor-scroll-b">
    <div class="app-bubbles-editor js-app-bubbles-editor">
    </div>
</div>


<!-- <div class="text">Alans-MBP:~ alandunning$ npm install -g foobar xx</div> -->


<div>
    <span style="position: absolute; top:100px; left:0px">E</span>
    <span style="position: absolute; top:100px; left:10px">D</span>
    <span style="position: absolute; top:100px; left:20px">G</span>
    <span class="text-f" style="position: absolute; top:100px; left:30px">A</span>
    <span style="position: absolute; top:100px; left:40px">R</span>
    <span style="position: absolute; top:130px; left:0px">R</span>
    <span style="position: absolute; top:130px; left:10px">E</span>

    <span class="text" style="position: absolute; top:130px; left:10px"></span>
</div>


